.container{
  display: flex;
}

html{
  /* overflow-x: hidden; */
}

html::-webkit-scrollbar{
  display: none;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}