.leave,
.addLeave,
.requestedLeave{
    flex:5;
    padding: 2rem 9%;
}

.addLeave h1{
    text-align: center;
    color: #192a56;
    padding-bottom: 20px;
    font-size: 30px;
}

.addLeave h1 span {
    color: #312ECB;
}

.addLeave .form,
.requestedLeave .show{
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    padding: 15px;
    margin: 0 auto;
}

.requestedLeave .show{
    max-width: fit-content;
}

.addLeave .form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addLeave .form .inputBox .input{
    width: 48%;
}

.addLeave .form .inputBox .input span{
    display: block;
    padding: 5px 0;
    font-size: 15px;
    color: #666;
}

.addLeave .form .inputBox .input input,
.addLeave .form .inputBox .input textarea{
    width: 100%;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #192a56;
    text-transform: none;
    margin-bottom: 10px;
}

.addLeave .form .inputBox .input .box{
    padding-right: 20px;
    cursor: pointer;
}

.addLeave .form .inputBox .input input:focus{
    border: 1px solid #312ECB;
}

.addLeave .form .btn,
.requestedLeave .show .btn{
    margin-top: 10px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #5250c4da;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
}

.requestedLeave .show .btn{
    font-size: 13px;
    padding: 5px 10px;
    background-color: #312ECB;
    margin-top: 0;
}

.addLeave .form .btn:hover{
    background-color: #312ECB;
}

.requestedLeave .top{
    margin-bottom: 15px;
}

.requestedLeave .top h3{
    font-size: 15px;
    font-weight: 500;
    color: #777;
    margin-left: 10px;
}